$white: #fff;
$black: #000;
$muted-color: #B9C1D9;
$sub-text-color: #677295;
$primary-title-text-color: #3A4565;
$primary-color: #29abe2;
$secondary-color: #4b4b4b;
$brand-color: #0071bc;
$light-brown: #FBB15D;
$brownish-yellow: #fbd351;
$body-bg: rgba(236, 242, 249, 0.3);
$title-text-color: rgba(24, 50, 78, 0.9);
$description-text-color: rgba(24, 50, 78, 0.75);
$default-box-shadow: 0 20px 40px 0 rgba(18, 193, 162, 0.15);
$transition-duration: 0.35s;
$transition-timing-function: ease-in-out;
$default-border-radius: 0.25rem;
$default-button-radius: 20px;